.footer {
    padding: 50px;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    padding: 8px;
    
}

.footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
}