.home-main-container {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-main-div1 {
    width: 90%;
    max-width: 1200px;
}

.home-main-div1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border: none; */
}

.nice-to-see-container {
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

.nice-to-see-container .rising-text-h4 {
    padding: 20px 0;
    margin-left: 20px;
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    font-weight: 700;
}

.nice-to-See-inner-DIv {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.nice-to-see-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.nice-to-see-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.grid-item:hover .nice-to-see-image {
    transform: scale(1.05);
    /* z-index: 1000; */
}

.grid-title {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3e4152;
}

.nice-to-see-list {
    width: 30%;
    padding: 10px;
}

.nice-to-see-list span {
    font-size: 1.0rem;
}

.list-item a {
    text-decoration: none;
    color: #3e4152;
    transition: color 0.3s ease;
}

.list-item a:hover {
    text-decoration: underline;
    color: #111;
}


.get-inspired-main-container {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2efef;
}

.get-inspired-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 40px;
}

.trend-title {
    text-align: center;
    color: #3e4152;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.trend-title span {
    font-weight: 500;
    display: block;
    font-size: 1.2rem;
    margin-top: 5px;
}

.trend-home-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend-card {
    flex: 1 1 calc(33.333% - 20px);
    text-align: center;
    cursor: pointer;
}

.trend-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.trend-card:hover .trend-card-img {
    transform: scale(1.05);
}


.feature-main-container{
    /* border: solid; */
    padding: 20px;
}
.feature-div1 .feature-div1-inner img{
    width: 100%;
    /* border: solid; */
}
.feature-div2{
    /* border: solid; */
    display: flex;
    justify-content: center;
}
.feature-div2 .feature-div2-inner img{
    width: 60%;
}