.brands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 60px;
    justify-items: center;
}
.brand-card img {
    width: 85%;
    height: auto;
    object-fit: cover;
}
.brandText{
    padding: 20px;
}
.brandText h4{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    max-height: 5em;
    font-weight: 700;
}